body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


.home{
    background-image: url('imagens/background.jpg');
    background-position: -200px -370px;
    height: 550px;
    width: 100%;
    padding-top: 20px;

}

.home .logo{
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: blue;
    
}

.produtos{
    width: 100%;
    display: flex;
    margin: 2.5px 2.5px 2.5px 2.5px;
}

.produtos div{
    text-align: center;
}

.produtos img{
    width: 100%;

}

@media(max-width: 700px) {
    .home{
        height: 400px;
    }

    .produtos{
        display: block;
    }
}
