/**
    O flexbox é uma conjunto de propriedades de CSS que permitem o posicionamento
    de diversos elementos em uma linha ou coluna e ajuda a criar site responsivos.
*/

body{
    margin: 0;
}

/* A propriedade display:flex é sempre aplicada no elemento pai */
.container{
    display: flex;
}

/*
    Caso a largura dos elementos filhos ultrapasse o tamanho disponível,
    eles serão redimensionados automaticamente.
 */
.quadrado{
    height: 300px;
    width: 33%;
    border: 1px solid white;
}

.quadrado.azul{
    background-color: blue;
}

.quadrado.vermelho{
    background-color: red;
}

.quadrado.verde{
    background-color: green;
}

/*
    Se utilizarmos a propriedade flex-wrap:wrap, os elementos que ultrapassem
    o espaço disponível no elemento pai serão jogados para uma linha abaixo.
*/
.container-2{
    display: flex;
    flex-wrap: wrap;
}
